.catalogue-title {
    font-Family: 'Raleway', Sans-Serif;
    font-Size: 1.9rem;
    line-height: 2.5rem;
    margin-bottom: .5rem;
}

.catalogue-summary {
    margin-bottom: 0;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 1rem;
    line-height: 1.6rem;
}

.catalogue-time {
    display: block;
    margin-bottom: 1rem;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 1rem;
}

.nav-title{
    font-family: 'Beth Ellen', cursive;
    font-size: 2rem;
    max-width:100px;

}
