.catalogue-title {
    font-Family: 'Raleway', Sans-Serif;
    font-Size: 1.9rem;
    line-height: 2.5rem;
    margin-bottom: .5rem;
}

.catalogue-summary .title {
    margin-bottom: 0;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 1rem;
    line-height: 1.6rem;
    max-width: 550px;
}

.catalogue-time {
    display: block;
    margin-bottom: 1rem;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 1rem;
}

.nav-title{
    font-family: 'Mansalva', cursive;
    font-size: 2.6rem;
    max-width: 200px;
    letter-spacing: -0.2rem;
    line-height: 2.2rem;
    margin-top:1.2rem;

}

@media (min-width: 768px)
.nav-container {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.nav{
    padding-left: 4rem;
}

.post__body h1, .post__body h2, .post__body h3, .post__body h4, .post__body h5, .post__body h6 {
    padding-left: 0;
    margin-bottom: 1.45rem;
    line-height: 1.2;
    font-Family: 'Raleway', Sans-Serif;
}
.post__body p {
    Font-Family: 'Open Sans', Sans-Serif;
}
