.catalogue-title {
    font-Family: 'Raleway', Sans-Serif;
    font-Size: 1.9rem;
    line-height: 2.5rem;
    margin-bottom: .5rem;
}

.catalogue-summary {
    margin-bottom: 0;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 1rem;
    line-height: 1.6rem;
}

.catalogue-time {
    display: block;
    margin-bottom: 1rem;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 1rem;
}

.nav-title{
    font-family: 'Mansalva', cursive;
    font-size: 2.6rem;
    max-width: 200px;
    letter-spacing: -0.2rem;
    line-height: 2.2rem;

}
